<ion-view view-title="Calorie Information">
  <ion-content class="padding">
    <h2>List Of Items and Calorie Rate</h2>
    <p>
        <table>
<tr>
    <th><font color="blue" size="4">Calories in Common Foods</font></th><td width="20"></td>
    
    <th><font color="blue" size="4">Calories Burning Rate of Common Exercises</font></th><td width="20"></td>
          <th><font color="blue" size="4">Energy of Common Food Components</font></th>  
            </tr>
            <tr>
        <tr height="20"></tr>
   <td> <img src="images/g1.jpg" width="300" height="300"></td><td width="20"></td>
   
    <td><img src="images/g2.jpg" width="300" height="300"></td><td width="20"></td>
                <td><img src="images/g3.jpg" width="400" height="300"></td>
 </tr>


</table>
        
         </p>
  </ion-content>
</ion-view>
